.page {
      width: 21cm;
      height: 29.7cm;
      margin: auto; 
      display: flex;
      justify-content: center;
      align-items: center;    
      }
        p{
            line-height: 1.5;
        }
      h4 {
        background-color: red;
      }
      .lang{
        background-color: orange;
      }
img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;

}
      