.page {
  width: 21cm;
  margin: 30px auto;
  padding: 20px;
}
        p{
            line-height: 1.5;
        }
      h4 {
        background-color: orange;
      }
img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;

}
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 8px;
}

nav {
    background-color:#f39c12 ;
    padding: 3px 0;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    
}
